.form-container {
  position: absolute;
  width: 270px;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container input{
  width: 200px;
}

.form-container button{
  margin-left: 10px;
}
